
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.docker
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> Docker ###
docker/volumes
docker/db_data/
/docker/db/data
/docker/mongodb/data
###< Docker ###

###> vincentlanglet/twig-cs-fixer ###
/.twig-cs-fixer.cache
###< vincentlanglet/twig-cs-fixer ###

###> Claude Code ###
/.claude/
###< Claude Code ###

###> Antigravity ###
/.gemini/
###< Antigravity ###

