{# Variables attendues :
    - user     : App\Entity\Utilisateur
    - resetUrl : string (URL absolue de réinitialisation)
#}
{% extends 'emails/_layout.html.twig' %}

{% block content %}
    <h2>Réinitialisation de mot de passe</h2>

    <p>Bonjour <strong>{{ user.prenom }}</strong>,</p>
    <p>Vous avez demandé la réinitialisation de votre mot de passe.</p>
    <p>Cliquez sur le bouton ci-dessous pour définir un nouveau mot de passe :</p>

    <p style="text-align: center; margin: 32px 0;">
        <a href="{{ resetUrl }}" class="btn">Réinitialiser mon mot de passe</a>
    </p>

    <hr class="divider">

    <p style="font-size: 13px; color: #888;">
        Ce lien est valable pendant <strong>1 heure</strong>.<br>
        Si vous n'avez pas fait cette demande, ignorez simplement cet email.
    </p>
{% endblock %}
